@import 'vars';
@import 'icons';

@import 'left-column';

body {
  font-family: "Helvetica";
}

.container {
  width: $containerWidth;
  padding-top: 20px;
  margin: auto;
}

.left-column {
  float: left;
  width: $containerWidth / 4;
}

.right-column {
  margin-right: -20px;
  float: right;
  width: $containerWidth / 4 * 3;
}

.avatar {
  border-radius: 10px;
}

.my-etch-sketch {
  border: 1px solid black;
}
